body{
	margin: 0;
}

.hat{
	height: 70px;
	border-radius: 10px;
	background: rgb(225,255,255);
background: -moz-linear-gradient(top, rgb(225,255,255) 0%, rgb(225,255,255) 7%, rgb(225,255,255) 12%, rgb(253,255,255) 12%, rgb(230,248,253) 30%, rgb(200,238,251) 54%, rgb(190,228,248) 75%, rgb(177,216,245) 100%);
background: -webkit-linear-gradient(top, rgb(225,255,255) 0%,rgb(225,255,255) 7%,rgb(225,255,255) 12%,rgb(253,255,255) 12%,rgb(230,248,253) 30%,rgb(200,238,251) 54%,rgb(190,228,248) 75%,rgb(177,216,245) 100%);
background: linear-gradient(to bottom, rgb(225,255,255) 0%,rgb(225,255,255) 7%,rgb(225,255,255) 12%,rgb(253,255,255) 12%,rgb(230,248,253) 30%,rgb(200,238,251) 54%,rgb(190,228,248) 75%,rgb(177,216,245) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1ffff', endColorstr='#b1d8f5',GradientType=0 );
	font-family: Tahoma;
	font-size: 50px;
	text-align: center;
	margin: 0;
	
}
.sidebar{
	width: 200px;
	height: auto;
	margin-left: inherit;
	border: 0px solid;
	position: fixed;
	position: absolute; right: 100px;
	padding: 100px;

}
